@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --pink-400: hsl(0, 36%, 70%);
  --red-500: hsl(0, 93%, 68%);
  --gray-900: hsl(0, 6%, 24%);

  --gd-light: linear-gradient(135deg, hsl(0 0% 100%), hsl(0 100% 98%));
  --gd-pink: linear-gradient(135deg, hsl(0 80% 86%), hsl(0 74% 74%));

  --ff-html: "Josefin Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: currentColor;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

input {
  background: none;
  outline: none;
  border: none;
  color: currentColor;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-family: var(--ff-html);
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--gd-light);
  color: var(--gray-900);
  height: 100dvh;
  width: 100%;
  line-height: 1.5;
}

@media (width <=768px) {
  body {
    justify-content: start;
    align-items: start;
  }
}

svg,
picture,
img {
  display: block;
}

/* Contents */
.columns {
  display: flex;
  width: min(1440px, 100%);
  margin-inline: auto;
  overflow: hidden;
}

@media (width <=768px) {
  .columns {
    flex-direction: column-reverse;
  }
}

.content {
  position: relative;
  min-height: 100%;
}

@media (width <=768px) {
  .content {
    padding-bottom: 5rem;
  }
}

.content-wrapper {
  --width: 450px;
  --padding: 2rem;

  width: min(var(--width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.bg-pattern {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content-header {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

@media (width <=768px) {
  .content-header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    margin-top: 0rem;
    padding-inline: 2rem;
    left: 0;
    min-width: 100%;
    height: 80px;
    background: var(--gd-light);
  }
}

.content-article {
  margin-bottom: 2rem;
}

.content-article strong,
.content-article h1 {
  word-spacing: 100vw;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.1;
}

.content-article strong {
  font-weight: 300;
  color: var(--pink-400);
}

.content-article h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.content-article p {
  color: var(--pink-400);
}

@media (width <=768px) {
  .content-article {
    text-align: center;
  }

  .content-article h1 {
    font-size: 3rem;
  }
}

.content-footer {
  display: flex;
  width: 100%;
  position: relative;
}

.content-footer form {
  display: flex;
  height: 58px;
  width: 100%;
}

.content-footer form input {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  position: relative;
  border: 1px solid #d9c9cc;
  padding-inline: 2rem 9rem;

  &::placeholder {
    color: #d9c9cc
  }
}

.content-footer form button {
  position: absolute;
  height: 100%;
  border-radius: 30px;
  top: 0;
  right: 0;
  background: var(--gd-pink);
  padding-inline: 3rem;
  box-shadow: 0px 5px 12px hsl(0 36% 70% / .7);
  transition: opacity .12s ease;

  &:hover {
    opacity: .5;
  }
}

.girl-picture {
  width: min(610px, 100%);
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width <=1178px) {
  .girl-picture {
    max-width: 520px
  }
}

@media (width <=978px) {
  .girl-picture {
    max-width: 400px;
  }
}

@media (width <=768px) {
  .girl-picture {
    min-width: 100%;
    margin-bottom: 6rem;
  }

  .girl-picture img {
    max-height: 250px;
    width: 100%;
    margin-top: 80px;
    object-fit: cover;
    object-position: center;
  }
}
